@media print {

    nav,
    .btn,
    .modal,
    #printReceipt {
        display: none !important;
    }

    body {
        background: white !important;
    }

    .card {
        border: none !important;
        box-shadow: none !important;
    }
}
